{% set name = node.label %}
{% set image = content.field_image %}
{% set formatted_teaser = {
    '#type':   'processed_text',
    '#text':    node_teaser,
    '#format':  node_teaser_format,
  } 
%}
{% set formatted_body = {
  '#type':   'processed_text',
  '#text':    body,
  '#format':  node_body_format,
}
%}
<div class="mil-p-200-0">
    <div class="container">
        <div class="mil-dark">
          {{ drupal_breadcrumb() }}
        </div>
        <h1 class="mil-mb-100 mil-up">{{label}}</h1>
    </div>
</div>

<div class="mil-fw-image mil-up mil-mb-100">
    <img loading="lazy" src="{{image}}" alt="{{formatted_teaser}}" data-value-1="1" data-value-2="1.1" class="mil-scale-img">
</div>

<div class="mil-p-0-200">
  <div class="container">
  {# insert share buttons here #}
    <div class="row justify-content-center">
      <div class="col-xl-8 mil-mb-100">
        {{content.body}}
      </div>
    </div>
  </div>
</div>