{% set name = node.label %}
{% set image = content.field_image %}
{% set summary = node.body.summary %}
<div class="mil-p-200-0">
    <div class="container">
        <div class="mil-dark">
          {{ drupal_breadcrumb() }}
        </div>
        <h1 class="mil-mb-100 mil-up">{{label}}</h1>
    </div>
</div>

<div class="mil-fw-image mil-up mil-mb-100">
    <img loading="lazy" src="{{image}}" alt="{{name ~':'~ summary}}" data-value-1="1" data-value-2="1.1" class="mil-scale-img">
</div>

<div class="mil-p-0-200">
  <div class="container">
  {# insert share buttons here #}
    <div class="row justify-content-center">
      <div class="col-xl-8 mil-mb-100">
        <h2 class="mil-mb-50 mil-up">{{ name }}</h2>
        <p class="mil-text-22 mil-mb-30 mil-up"> {{ summary }}</p>
        {{content.body}}
      </div>
    </div>
  </div>
</div>

{{content.field_paragraph_content}}